/* the organization of element styling goes from parent selectors down the tree to child selectors */

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

* {
    font-family: "Playfair Display";
    box-sizing: border-box;
}

.top-page {
    background-color: black;
    height: 100px;
    max-width: 100%;
    position: relative;
}

.top-page-content-background {
    background-color: #ce9ffc;
    border-radius: 50px;
    position: relative;
    max-width: 99%;
    height: 90%;
    top: 5%;
    left: 0.5%;
    right: 0.5%;
    bottom: 5%;
}

.top-page-content-welcome {
    color: white;
    text-align: center;
    /* border-color: black;
    border: 1px;
    border-style: solid; */
    position: relative;
}

.top-page-content-selectors {
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: purple;
}

.featured-content {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slideshow-numbers {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.slideshow-fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}